[2015-01-30 08:54] jeroenpardon opened #3 "Several nodes not showing up in management dialog"
Following up on reports in my skin thread I have found that several of my custom shortcuts and certain nodes were not available in the management dialog anymore.

I use a custom grouping, [example] (https://github.com/jeroenpardon/skin.refocus/blob/master/shortcuts/overrides.xml)

Simplified example:

[code]

will list all the available video related nodes correctly.

But using any of these nodes

[2015-02-04 11:51] jeroenpardon opened #4 "Problems with ListItem.Property(hasSubmenu)"
I am using this property to check whether or not a main menu item has a submenu tied to it. If it has I show an arrow/greater than sign next to the main menu item to make it clear there is a submenu (the submenu is hidden until the main menu item is clicked).

[code]

This was working fine, and the code in my skin for this has not changed in months, basically since implementing skin shortcuts. But

[2015-02-04 12:03] jeroenpardon commented on #4
Just found out using a SubString instead of StringCompare works... no idea why, a StringCompare should work when the value is matched completely?

[2015-02-04 12:23] BigNoid commented on #4
Its `ListItem.Property(submenuVisibility)` without the qoutes. It explains why substring does work and stringcompare doesnt in any case :)

[2015-02-04 12:42] jeroenpardon commented on #4
I believe that `ListItem.Property("submenuVisibility")` only has to do with checking whether the submenu itself is actually visible or not (so that the arrow symbol is only shown when the submenu is not activated).

It's something Unfledged coded in (including the quotes), more or less specifically for reFocus, to deal with the vertical menu I use as it has both the main menu items and submenu ite

[2015-02-04 13:02] BigNoid commented on #4
I can only comment on the code you posted. I use that listitem property without the qoutes in my skin. It seems the window property is not set by the script (only clearing is done by the script). Do you set that property in the skin?

@phil65 you are more qualified to look at the script then me, mind taking a look at this?

I don't understand this line `!StringCompare(ListItem.Property("submenuVis

[2015-02-04 19:57] jeroenpardon commented on #4
@BigNoid No, I'm not setting that property in the skin code.

I am using this though: `<onleft>RunScript(script.skinshortcuts,type=hidesubmenu&amp;mainmenuID=9000)</onleft>`

Which I think is related as it takes care of "collapsing" the menu, hiding the sub menu items. Not sure if it's relevant to the question but thought I'd mention it.

[2015-02-05 10:08] jeroenpardon commented on #3
pinging @phil65 (issues tab is closed at your repo)

Is there any other info I can provide?

[2015-02-10 20:51] marcelveldt commented on #4
Hi Jeroen,
be carefull with using ListItem.Property(hasSubmenu) because it will return true even if there are no visible items in the list. Items in the list can have visibility conditions.

The best way to do this is count the number of items in the container containing your submenu.
So, with "IntegerIsGreaterThen".

I had some issues with this too and switched to just counting the number of item

[2015-02-10 20:54] marcelveldt opened #5 "update the script on kodi repo ?"
Hi guys,
It just occured to me while working on some problem reports that the changes that I submitted to fix in the skin never got updated on the repo.
Would it be possible to publish this to repo because now users are not able to select a thumbnail for their shortcuts which causes confusion.

If you want I can ask Martijn myself to do a pull from here.

Thanks!

marcel

[2015-02-10 22:29] jeroenpardon commented on #4
Hey Marcel, in my case that wouldn't really work as my main menu and submenu items are in the same container and thus share the same ID. At least, in the vertical version of my home menu.

Actually that property's function isn't to check whether the submenu items are visible, but if the main menu item has submenu items configured, regardless of whether they are visible or not. It was added for a m

[2015-02-11 19:33] BigNoid commented on #5
Sent a PR, thx.

[2015-02-11 19:33] #5 closed

[2015-03-14 22:24] thegreatdan opened #6 "Unable to build menu"
I need your support. My OpenElec @ rPi2 keeps showing up this issue:
http://xbmclogs.com/pgo5xlowi

When browsing in main menu a popup pops up and tells "Failed to write menu".

I don't have a clear view what might cause this behavior, could you help?

[2015-03-15 12:23] BigNoid commented on #6
I have pi2 with openelec myself and have no problems. Only difference in your log is that yours shows a custom path to the python libs. i'd start looking there.

[2015-04-23 11:22] marcelveldt commented on #3
As I did some work in the skinshortcuts code I'll take a look if I can reproduce and fix.

[2015-04-23 16:57] marcelveldt commented on #3
litterally from the code:

if content == "movie" or content == "tvshow" or content == "musicvideo" or content == "customvideonode" or content == "movie-flat" or content == "tvshow-flat" or content == "musicvideo-flat" or content == "customvideonode-flat":
            # These have been deprecated
            return []

I will have a quick look if I can understand why it's deprecated (removed from t

[2015-04-24 17:37] angelblue05 opened #10 "Nonetype error with the latest update"
I'm using Kodi 14.2 with Aeon Nox
[code]

[2015-04-24 17:50] marcelveldt commented on #10
I'll check it out...

[2015-04-24 19:18] angelblue05 commented on #10
hey Marcel! I didn't know you were working on this!

[2015-04-24 19:29] marcelveldt commented on #10
hey!, yeah, since Unfledged (Original author of skinshortcuts) left the Kodi community, Bignoid and phil65 took over the maintenance of the script. Because I utilize every bit of the script in my skin I sometimes fix a few issues too  ;-)

A few days back I fixed some issue in preparation for Isengard in the skin and placed a testversion of the script on our beta repo in order to let some users te

[2015-04-24 20:01] angelblue05 commented on #10
Sweet, thanks! :+1:

[2015-04-25 09:54] #10 closed

[2015-06-21 02:20] marcelveldt opened #17 "change shortcut deletes all properties"
If a user wants to change the action for an existing shortcut all of the existing shortcut's properties like submenu, label, icon and stuff are lost.

I have received several complaints about this behaviour on my skin's forum threads so I thought looking into it.

@Ignoble61 Welcome back ;-) Hope you and your family are doing fine?
I was hoping if you could shine a light on this? Was this the expe

[2015-06-21 02:25] ghost commented on #17
Hello @marcelveldt, nice to see you and, without going into too much detail, yes my family are doing fine and, indeed, I'm going to have three generations of my family living in one house for a couple of months whilst housing sales go through, which I'm both looking forward to an incredible amount, and dreading on every level ;) Hope you are keeping well, too, and congratulations on the birth of y

[2015-06-21 02:31] ghost commented on #17
Thinking off the top of my head (I'll take a proper look tomorrow, if no-one beats me too it) - since that code was written, the defaultID property was added - this may be a far better way of migrating properties from one item to another (an item with a new action is always considered a new item)...

[2015-06-21 14:19] ghost commented on #17
I'm unable to reproduce this, using Conq as a base test. When choosing a new shortcut via control 401, the action, label and thumbnail are all changed to that of the newly selected shortcut (expected behaviour).

The selected widget and background aren't changed, and it stays linked to the submenu.

[2015-06-22 18:42] marcelveldt commented on #17
Great to hear you're doing fine and glad to see you back here sharing your great ideas here with us.
Wow, that's a whole house full, can imagine that's fun in the beginning but very dreading in the longer term ;-)
Yes, I'm doing fine too. Enjoying every aspect of the newborn babygirl, it's a big change beiing a father but wouldn't give it up for all the money in the world :-)

Well, about that sho

[2015-06-22 18:45] marcelveldt commented on #4
@jeroenpardon, do you still need help on this matter ? I kind of forgot to answer your question, sorry

[2015-06-22 18:58] ghost commented on #17
I'm not sure I agree - if I change my Live TV shortcut to, say a specific channel, it wouldn't make sense to me if the label didn't change to reflect that. And I'd also loose my only opportunity to have the icon automatically set to the channels logo. I can see where people are coming from, though, if they change they are making is relatively small, such as your example.

Point in the right direct

[2015-06-22 19:21] ghost commented on #17
Y'know, if I were to implement this (don't get me wrong, I'm not going to), I'd just extend control 307 (edit action) to give the choice to type a new action or browse for one. That way, the whole select shortcut methodology (where the whole shortcut - label, icon and all - are changed) stays, and the edit action does exactly what it says on the tin, just with a lot more features.

[2015-06-23 12:41] marcelveldt commented on #17
I think you're right. It depends on the situation if you want to just change the whole shortcut or change it's action. Those are two completely different things. I will take a look at your suggestion to extend the method for button 307, that would be best.

Thanks!

[2015-06-26 18:03] ghost commented on #17
Please see PR referenced above - I found a bug whereby, on a new main menu (a new installation, or after resetting all shortcuts), the submenu would get de-linked if the shortcut was changed before the main menu was saved. Shouldn't impact the issue you've raised, but you never know.

[2015-07-03 23:45] Ignoble61 opened #22 "Skin Shortcuts 1.0.0"
I had a list of tasks that needed to be done within Skin Shortcuts before I was happy to declare it a 1.0.0 release and, with Isengard around the corner, I thought it would be interesting to post it here - with a few notes - to see if the script could be got up to a 1.0.0 release to coincide with Kodi J*, whenever that lands. And - more importantly - to see what others think would be necessary for

[2015-07-06 14:22] Nessus85100 opened #23 "Smart Playlists widgets issues"
I am using the `<widgetPlaylists type="playlist">True</widgetPlaylists>` in overrides.xml to use the smart playlists as widgets and i have some problems/questions.

First of all using this `$INFO[Container(20).ListItem.Property(widgetPlaylist)]` as a content tag  it breaks the "Hidden" animation. The "Visible" works fine. If i replace it with a real string path (`special://profile/playlists/video/

[2015-07-06 15:20] ghost commented on #23
For animations, look into templates (though they may not work for you until your second issue is addressed...) - one of the big reasons I wrote them is that they allow animation possibilities just not doable with a traditional skin shortcuts implementation. Specifically in your case, I've no idea why the visible animation wouldn't work - especially if the thing is actually becoming visible - unles

[2015-07-06 16:12] Nessus85100 commented on #23
There is already a property for that. Makes no sense to add another one with almost the same value:
`<property name="widget">Playlist</property>`
`<property name="widgetType">playlist</property>`

Yes, that makes sense and it will be very helpful.

As for the animation issue, is the "Hidden" animation that is not working. Not the "Visible" one.

All the animations for all the other widgets are wor

[2015-07-06 16:33] ghost commented on #23
Only if `<widgetPlaylists type="playlist" />` - if `type="media"` for example (what I use) then you'll get

`<property name="widget">Playlist</property>`
`<property name="widgetType">media</property>`

Which I then use to group together all my media widgets.

Moving them to skin strings would be a lot of work - not only in terms of code, but in thinking through how the script will manage which and

[2015-07-06 17:11] Nessus85100 commented on #23
I don't understand why only the "Hidden" animation is not working properly with an $INFO label, and why is working fine if i use a simple string in the content tag ???.

@phil65 Do you think is a bug in the content tag listing way ?
.

How that grouping is possible ?. I use the button 309 for selecting widgets and if i am not mistaking that's not possible via a skin code... or am i wrong ?

[2015-07-06 17:27] phil65 commented on #23
did you try to debug by showing those InfoLabels on-screen? You will probably get a better picture then about what´s goin on when doing specific "workflows".

[2015-07-06 17:27] ghost commented on #23
Grouping is probably the wrong word. What I did before I switched to templates was have a single list for all of my media widgets. It's visibility was set based on widgetType equaling 'media', then I'd use a set of condition's to display the correct artwork, and a var to fill the content.

[2015-07-06 17:37] Nessus85100 commented on #23
@phil65

Yes i did and the InfoLabel was behaving the same way as the list. The "Hidden" animation was broken and the "Visible" was working fine. Is this means that the issue is not in content tag ?

[2015-07-06 17:43] phil65 commented on #23
I could take a quick look if you would provide me an out-of-the-box testing case (working copy of the skin)

[2015-07-06 17:44] Nessus85100 commented on #23
@Ignoble61

Do you mind sharing the code please ?.

[2015-07-06 17:55] ghost commented on #23
I don't still have the code - as I say I'm using templates now, but a very simple example with just one widget (and therefore just one image) would be something like...

[code]

[2015-07-06 17:56] Nessus85100 commented on #23
@phil65

Unfortunately my skin is a mess full of testing and debug code and textures. Can you please test it in your skin by adding an InfoLabel in home screen ?

EDIT: You can testing by using this mod of Bello... https://github.com/sualfred/Bello-Kodi-15.x-Nightlies
Add this label in the home.xml http://xbmclogs.com/pddz1z4ey and set a video playlist as widget.

[2015-07-06 18:00] Nessus85100 commented on #23
@Ignoble61
Thanks. I will have it in mind when i find some time to give a deeper look in the templates future.

[2015-07-06 18:24] ghost commented on #23
Just FYI, the template code I'm using (only for the smart(ish) widgets at the moment, it's on my to-do list to extend it) is...

[code]

This does the same as the previous code, but each widget ends up in its own list rather than sharing one.

[2015-07-06 18:28] phil65 commented on #23
@Ignoble61 I am not that much into this (only using the script myself for submenus), but this looks pretty similar to the new include type introduced in Isengard which supports parameters, perhaps they can save you some work?. You know about those?

[2015-07-06 18:32] ghost commented on #23
@phil65 Yup I know about them, but have had only a quick play-around myself - I'll try again with them I'm working on that part of the skin again.

[2015-07-10 08:59] Nessus85100 commented on #23
@phil65 have you had the time to look into this ?...

[2015-07-10 13:13] phil65 commented on #23
nope, no time yet.

[2015-07-12 10:39] Nessus85100 commented on #23
@phil65 The broken "Hidden" animation issue in dynamic list's if the 'content' tag starts with an InfoLabel ($INFO) it also happens when using this future... https://github.com/BigNoid/script.skinshortcuts/commit/14b215dd081bad81b450356e209a2f0e53cd7634 and this time both ("Visible" and "Hidden") animation are broken.

[2015-07-12 10:56] Nessus85100 commented on #23
@Ignoble61 Is it  possible when adding the `<widgetPlaylists>` in overrides.xml, instead of using the `audiotype` check to distinguish between music and video playlists, to check the content type of the playlist the according to the way that Kodi GUI does when you create a smart playlist ?. That way we can have more detailed distinguish between playlist's.
Example...
`<widgetPlaylists type="video"

[2015-07-13 16:10] ghost commented on #23
@Nessus85100 it's possible, but not something I'd add (not a feature that interests me, and I don't think the idea of multiple `<widgetPlaylists />` in overrides.xml is a good one)

[2015-07-13 19:21] Nessus85100 commented on #23
I understand that but judging from my experience from the forums users smart playlists are very popular especially for users that want to customize the home window. IMHO this would be a very useful feature for the skin shortcuts.

Maybe someone else can do it ?

That was just a suggestion that i can think of to achieve this. It's not necessary the best way to do this.

[2015-07-13 19:39] ghost commented on #23
If it helps I'm slowly writing an alternative way to select widgets - based on groupings as used when selecting a shortcut (so a library or add-on node can be selected as well). One thing I haven't fully thought through yet is where the widgetType property will come from, so I'll keep your request in mind as I go :)

[2015-07-13 19:50] Nessus85100 commented on #23
Good to hear that. I remember talking about something like this (widgets grouping) with Unfledged some time a go. I guess the widgets provided by the skinner will still be an option... right ?

Anyway, until this is integrated, and the animations issues are fixed i will completely remove smart playlists from my widgets list.

Thank you all for the help and info.

Cheers
Nessus

[2015-07-13 20:20] phil65 commented on #23
@Nessus85100 in case you didnt know it: you´re talkin to Unfledged. ;)

[2015-07-13 21:47] Nessus85100 commented on #23
Hehe... i've had a suspicion that was him (by seeing the details in his comments !), that's why i've drop him a PM in Kodi forums but since i didn't get an answer i thought i was wrong.

Glad we have you back mate !!!

[2015-07-14 20:13] ghost commented on #23
Not sure who you PM'd, but I'm not on the forums :)

[2015-07-14 21:12] Nessus85100 commented on #23
There is a new user in the forums with the same user name (Ignoble) without the 61 number in the end... http://forum.kodi.tv/member.php?action=profile&uid=272653.

I guess i've PM'd the wrong guy... lol !!!

[2015-07-14 21:17] ghost commented on #23
Nothing to do with me, but I'm sure they appreciate the thought - or are incredibly confused by it!

[2015-07-15 07:12] marcelveldt commented on #22
1) I still see/hear an occasional report of the build failed but I believe that is caused when the users chooses to redirect the addon_data folder from Kodi to a smb location. The script can't handle not being writing to local storage (as of most python scripts). I think it's nothing to worry about.

2) I'm pretty sure that the only skin that still uses the legacy method of skinshortcuts is Aeon N

[2015-07-15 07:14] #6 closed

[2015-07-15 08:53] marcelveldt commented on #23
@Ignoble61, I think this one is also solved when that new method for selecting the widgets is ready ;-)
That would be an all-in-one solution

[2015-07-15 08:57] marcelveldt commented on #3
@Ignoble61, I suspect we can update the readme's and initial overrides.xml without the flat groupings ?

[2015-07-15 08:57] #4 closed

[2015-07-15 09:02] ghost commented on #3
@marcelveldt flat groupings are used when using controls 111 / 101 / 102 / 103 in management dialog. I suspect only Nox 5 + variants use them, but whilst they are in use the flat groupings need to remain in overrides.xml. The documentation is more nuanced - if these controls were to be earmarked for removal (they're the original method used to select a shortcut a very long time ago) then the docs

[2015-07-15 09:04] ghost commented on #3
Sorry, haven't read this issue before - the content types referenced above were first deprecated when library.py was switched to use video nodes. It became very difficult to list movies/tvshows/etc separately, or even to know if they were actually in a users custom video nodes. They were removed shortly after.

[2015-07-15 09:05] marcelveldt commented on #3
Aha, that's what I thought ;-)
So they are in fact deprecated ?

[2015-07-15 09:06] ghost commented on #3
Not just deprecated, but removed ;) (They remain in the code purely to prevent a crash if a grouping still uses them)

[2015-07-17 21:40] ghost commented on #22
1) I've always assumed they were unicode issues, but still. I'm happy with errors (there's always going to be some), not crashes - which that was doing until 21 landed.

2/3) It wouldn't just be Nox5 + variants that would be affected if all the legacy code was removed, though. There's a lot more than just the .shortcuts that has the potential to be removed. If there were to be a point were it were

[2015-07-18 07:15] BigNoid commented on #22
I was not aware I am using a deprecated method. I removed the `.shortcuts` files now and moved to the `.DATA.xml` format. See https://github.com/BigNoid/Aeon-Nox/commit/b17f484611f247713f149dda2766eca7a39bdd09

[2015-07-23 23:12] marcelveldt opened #32 "feature request: back button while browsing shortcuts"
while browsing a layered structure if you want to pick a shortcut there is no way to go back.
would be nice if there was a back button in the list to move up the tree.

[2015-07-23 23:34] ghost commented on #32
One third of the code to do this is already in place, though weirdly enough I removed it from my WIP widgets branch a few days ago because its not in use (and isn't very useful in its incomplete form).

OK, so available shortcuts are displayed via two methods - LIBRARY.selectShortcut (displays the hierarchy as defined in the overrides.xml grouping) and LIBRARY.explorer (to explore library & add-on

[2015-07-24 00:24] ghost commented on #32
Ah, the wonders of insomnia - https://github.com/Ignoble61/script.skinshortcuts/commit/1d6cd186c7e0a938c8b8aa26aa3062284983357d

[2015-07-30 23:29] marcelveldt commented on #32
Wow, that was really quick! Thanks!

[2015-07-30 23:30] #32 closed

[2015-07-31 00:30] marcelveldt commented on #17
changed the edit shortcut action to present the library dialog and allow the user to enter a custom action

[2015-07-31 00:30] #17 closed

[2015-08-01 22:21] ghost commented on #22
Update on my ideas for what would constitute a 1.0 release:-
1. Fixes for when menu save fails (#21), along with various unicode fixes (from @roee88 - #33) should fix most known script crashes. Personally not currently aware of any other scenarios where script crashes, though obviously they should be fixed before 1.0.
2. #30 removes some legacy code. Plenty more to be removed, but now I know how t

[2015-08-01 22:48] ghost commented on #22
Incomplete list of code that could be removed if all skins were updated to newer methods:
- Controls 101/102/103/111 - though if skinners still find this old method of showing/selecting shortcuts useful, no point in removing (though pretty much all new skins use newer methods...)
- Skin-recommended shortcuts - can now be provided by modifying overrides.xml groupings
- Widget button 309 (when 312 l

[2015-08-08 18:47] marcelveldt opened #38 "safety check when writing includes file"
As reported by Ronie on the Kodi forums, a race condition occurs when writing the script-skinshortcuts-includes.xml file.

http://forum.kodi.tv/showthread.php?tid=178294&pid=2074446#pid2074446

When writing the file, a safety check should be done if the skin directory hasn't changed since the menu build started.

The issue happens when you launch a skin that utilizes the skinshortcuts script, the

[2015-08-08 18:49] marcelveldt commented on #38
I can take a look at this tomorrow if nobody beats me to it.

[2015-08-08 18:51] marcelveldt commented on #38
haha, you're fast :-)

[2015-08-08 18:51] ghost commented on #38
Saw the issue on a trawl-through the forum :) Change referenced above saves the skin dir when the script is started, and then saves to that directory - so changing skin won't affect where the file is saved to. Would be good to get Ronie to confirm she's happy with the fix.

[2015-08-08 18:52] #38 closed

[2015-08-09 12:03] #23 closed

[2015-08-09 13:39] Nessus85100 opened #40 "Script's main window multiple instances"
Accidentally the other day i push the button to open script's main window twice and i notice that the window was open twice. Tested again and it turns out that the window is opening so many times how many times the window opens so many times as the times you manage to click before the first instance is open. I manage to do that for 6 times in my testing.

Is this a bug or the multiple instances ha

[2015-08-09 13:52] ghost commented on #40
Multiple instances are required, for example, to edit the submenu/additional menu's from the main menu customisation window. However, what you describe is certainly unintended behaviour. Possible fixes could be to use a window property to mark when the customisation window is loading so a second instance isn't started, or maybe show a busy dialog (and so lock the gui) until the window has loaded.

[2015-08-09 14:33] Nessus85100 commented on #40
Well, i just report it in case that it was a missed bug but as this is needed then i have no problem with it (first time i noticed in all the time i use and testing the script) and no user reported as an issue. So, no issue here.

Cheers
Nessus

[2015-08-09 15:13] ghost commented on #40
It's worth leaving this open. The script needs the ability to have multiple management dialog windows open, it's true, but the behaviour you describe is unwanted and should be able to be fixed.

[2015-08-11 18:49] Nessus85100 opened #42 "Issue with widget-groupings"
I am pretty sure that i am doing something wrong here but i have a problem with widget-groupings and the new way of assigning widgets. I am trying to use the `<widget-groupings>` so to group all of my skin's widgets to custom nodes. The problem is that the `widgetName` property is always empty for my skin's widgets. When i assign a widget from the default libraries nodes they are showing fine. Als

[2015-08-11 18:54] ghost commented on #42
See #41 - specifically:-
- Fix widgetName for `<shortcut />` elements

Smart(ish) widgets won't automatically show up in the dialog (nor will library data provider widgets). For Smart(ish) it needs a change in that script. For both, this script needs to have some work done on how add-ons are loaded and processed, which will probably happen in a later version (as I'm not sure how to approach this y

[2015-08-11 19:08] ghost commented on #42
Y'know, I forget I have commit rights to this repository these days (and I'm confident in my fixes), so let me get that fix merged into master so you can test and - please - report any more issues :)

[2015-08-11 19:08] #40 closed

[2015-08-11 19:08] #42 closed

[2015-08-11 20:30] Nessus85100 commented on #42
Library data provider widgets are showing fine. If the Smartish widgets are not show up ATM, if i put the code now in overrides.xml and the script gets updated, they will work without any change in overrides code ?

[2015-08-11 20:35] ghost commented on #42
Sorry, hadn't taken a look at your widget-groupings You've got the ID wrong for the Smart(ish) widgets in the condition and the path - should be `service.smartish.widgets`, not `service.smartish.shortcuts` :)

(Thought you meant why aren't they showing up under Add-ons > Video Add-ons!)

[2015-08-11 21:30] Nessus85100 commented on #42
Ah... crap. I messed up with search&replace :grin:
Thanks

[2015-08-18 19:10] Ignoble61 opened #49 "Script broken on Python 2.6"
Sorry, I don't have time to fix this myself at the moment (not even meant to be using the internet, but modern phones are a wonderful thing!), but a note on recent changes. Using xpath with elementtree is not supported with Python version 2.6, so using it is breaking the script on systems with that Python version (see logs on fTV skin thread, for example)

E.g. `if not newelement.findall(".//prope

[2015-08-18 20:12] marcelveldt commented on #49
Oops, didn't know that. Thanks for the catch!
Will fix it right away

[2015-08-19 17:51] #49 closed

[2015-08-20 11:14] Nessus85100 opened #52 "Widgets select"
I've tested the latest commit and everything seems to working fine except one thing. I use this
`<label2>$INFO[Container(211).ListItem.Property(widgetName)]</label2>` in 312 button to show the name of the current selected widget. After the latest commits (i don't know when but it was after 0.5.1 BETA) the widget name has a $INFO prefix in front.
Example...
Widget name: Popular Movies
now it shows:

[2015-08-20 17:18] marcelveldt commented on #52
How did you specify your widget's name in your overrides.xml ? It is enough to just set the numeric ID of the language string. No need to add $LOCALIZE[], so for example:

[code]

should suffice.

Break up the library in additional/seperate nodes is not possible because of the simple fact that the user can customize the video nodes. That way you have no way to determine if there actually is a movi

[2015-08-20 17:20] marcelveldt commented on #52
BTW: thanks for testing the latest Git version. Both me and @Ignoble61 are very curious if everything is working properly after so many code changes ;-)
If all is well things can be pushed to the repo soon.

[2015-08-20 18:18] Nessus85100 commented on #52
I use the `<shortcut />` way in my widgets so to group them in nodes. This is the code that i use for the "Popular Movies"...
`<shortcut label="31251" widget="PopularMovies" icon="DefaultMovies.png" widgetType="movies_online" condition="System.HasAddon(script.extendedinfo)">plugin://script.extendedinfo?info=popularmovies</shortcut>`

About the separate nodes i knew that it will be difficult but i

[2015-08-21 11:35] Nessus85100 commented on #52
One more... Is this property working: `<property name="hasSubmenu">True</property>` ?.

I am trying to use this as a condition to show some widgets if a main menu item has submenu but either "True" or "False" is not working...
`StringCompare(Container(20).ListItem.Property(hasSubmenu),True)`

[2015-08-21 13:11] Nessus85100 commented on #52
One more, important one...

The "Movies", "TV Shows" and "Music Videos" video library nodes widgets they are not working in Greek language. When i try to go inside in one of those three folders the widgets select dialog closes without any script errors and i am back to management dialog. I've tested also with Italian and French but with those was working fine. It happens only in Greek (or in some

[2015-08-21 14:15] ghost commented on #52
Fixed in #53, and thanks for the bug report

Fixed in #53, and thanks for the bug report

Personally I'd rather not start asking the user lots of additional questions, but I'm happy to be overriden on this. Alternatives are to set it as an additional property yourself, or remove the sources from the widget groupings.

I'll look into these icon issues this weekend if no-one beats me to it, but one

[2015-08-21 16:46] Nessus85100 commented on #52
I agree with you about not asking users questions logic, but this issue cannot be resolved in any other way. "Sources" are users own files. There is no way that the skin can determine what kind/type of files are so to display them in a properly manner. Only the user can know that. Plus that this will eliminate the need for the users to create smart playlists just to point them to a specific folder

[2015-08-21 17:16] ghost commented on #52
Actually it's up to anyone who wants to code it :)

The script isn't actually providing the items in the list, though. It's just giving you something you can pass to Kodi in a `<content>` tag. It's up to Kodi to fill it, and to decide whether to show watched/unwatched within it.

It's not really designed to be, it's used internally by the script for helping out with single-list menu implementation

[2015-08-21 18:37] Nessus85100 commented on #52
No problem then. I will remove the sources until then. Thanks

Then this is odd. Inside the video library it shows only the un-watched Recently Added items but in home widget it shows all the items and in both the path is the same `videodb://recentlyaddedmovies/`. If this is Kodi thing then i will have to keep my library data provider widgets.

I dint notice that part in the documentation... sorry

[2015-08-21 18:49] ghost commented on #52
No need to apologise, though I'm sorry there's no other way to do it (that I know about). BTW, `<skinshortcuts>visibility</skinshortcuts>` (which is template only) just gets replaced with the necessary visible tag to show the control at the right time - such as `<visible>StringCompare(Container(9000).ListItem.Property(submenuVisibility),genres)</visible>` - not something that could be used in an o

[2015-08-21 22:14] Nessus85100 commented on #52
You are right. I just realize that Kodi also does this in the wrong way. Opening videodb:// path inside the Music Library window IMO is completely wrong (and of course, again, skinner has to find a way to make all this to look properly !). So yes, the script is doing things the same way as Kodi does it.

So, there is no way to know if a submenu it exists ?

What do you mean with this ?. Should i r

[2015-08-21 22:52] ghost commented on #52
Not unless you can get your StringCompare working - just be aware that's not what the hasSubmenu property is designed for and may not be an accurate way to determine whether theres actually a submenu to display (if the items within it are all invisible). The script can't really provide this information as it can't determine when the menu is built what items will be visible/not be visible at any gi

[2015-08-22 12:48] phil65 commented on #52
@Nessus85100 To know whether a submenu is visible you can use IntegerGreaterThan(Container(xxx).Numitems,0)

[2015-08-27 12:15] Nessus85100 commented on #52
@phil65 Thanks but that wont help because all submenus are under the same id.

[2015-08-27 12:21] Nessus85100 commented on #52
@Ignoble61 Do you remember the `<checkforshortcut />` tag that you added so to check if a main menu item is available ?. Do you think that we can do something similar for the subemenus also ?

[2015-08-27 16:13] ghost commented on #52
From what I remember of `<checkforshortcut />` it should check whether that shortcut appears within any menu the script builds - main, sub or additional. Are you wanting it to check if a shortcut specifically appears in a submenu?

[2015-08-27 17:42] Nessus85100 commented on #52
Sort of. Can we check if the first item (`<item id="1">`) in include of each subemenu exists so to know if the submenu itself exists ?. I mean all my submenus are under container with id=23. So if the ... `Container(23).ListItem(1).Label` is empty (or is not visible ?) then the subemenu is empty  (or is not visible ?). I've tried that as a condition in my overrides.xml widgets that i want to hide

[2015-08-27 18:00] ghost commented on #52
The script can only check for things at build time - whether the item is present can be checked for, not whether it is visible as visibility can change at any time afterwards. Not sure why checking whether `Container(23).ListItem(1).Label` is empty is a better check (and will work when the following won't) than `Container(23).NumItems`...

Edit: whilst 'runtime'-esque things (such as checking whet

[2015-08-27 18:55] ghost commented on #52
~~Now it's my turn to think out loud ... I wonder if what you want could be done with an extension to templates (though again, such things are for looking at after we're all happy with the recent additions). At present the main menu template is pretty much useless, included in code for completeness sake only. But as we know all the submenu items visibility conditions at build time (actually we don

[2015-08-27 20:39] ghost commented on #52
Solved it :) (I think!)

@Nessus85100 can you please try https://github.com/Ignoble61/script.skinshortcuts/tree/build-rewrite

This adds a new property - submenuCondition - to main menu items which you can use as the visibility condition for deciding what to display based on whether there's a submenu, taking into account the visibility conditions of any items within it. Within the list that is dis

[2015-08-28 10:50] Nessus85100 commented on #52
Sorry, but is not working (damn !!!). I want to use this in overrides.xml, so the `Container(20).ListItem.Property(submenuCondition)` is not working ("20" is my mainmenu id). The submenuCondition property is there in script-skinshortcuts-includes.xml ("true" if the item has subemenu, false if is not) but it makes no difference as a condition in overrides.xml. I've also tried... `StringCompare(Cont

[2015-08-28 11:09] ghost commented on #52
I think I'm getting myself confused over what you're wanting to do here - can you give me a copy of your overrides.xml as you would like to use it, so I can have a play and see if I can get it working :) (It'll probably be the weekend now before I can look, though...)

[2015-08-28 11:44] Nessus85100 commented on #52
I've just send you all my shortcuts files in this mail... <redacted>

Thanks
Nessus

[2015-08-28 16:35] ghost commented on #52
Received thanks. Where in the overrides.xml is the example of where you're wanting to check for submenu?

[2015-08-28 17:24] Nessus85100 commented on #52
It's the `<node label="31209">` in `<widget-groupings>`

[2015-08-28 18:02] ghost commented on #52
Ah, I think I understand what you're wanting - for your 'submenu' widget to only be visible in the widget selection dialog if the main menu item actually has a submenu...?

If I'm understanding correctly then this isn't possible. The management dialog has no understanding whether you're looking at a main menu, a submenu or an additional menu. Nor does it have any knowledge of what items are in any

[2015-08-28 18:40] Nessus85100 commented on #52
That's correct.

I could add a long visible condition in the `<node />` if the user has deleted all the submenus so the entire node will be hidden. I use some of these submenus widgets for a couple weeks now and i find them very handy and useful plus it's a very easy way for custom widgets. It's a petty that we can check which of them are exists so to hide the non existing ones. I think i will let

[2015-08-28 18:53] ghost commented on #52
Can't change anything in the the widget selection dialog without major changes to the management dialog code. Within home.xml/your widget template, you can choose whether to actually \display\ the widget by checking the `numitems` of the submenu list (see examples earlier in thread - useful for just the currently selected main menu item) or with the code in the branch I linked to last night (usefu

[2015-08-28 19:28] Nessus85100 commented on #52
That's what i said in my EDIT. We should merge that branch to master since that property (submenuCondition)  could be useful for some other things like showing/or not an indicator if the item has submenu for skins that have the submenus hidden.

I am not saying that (and that's my fault and my poor English...sorry). I don't want to set any default widgets on first use or reset. I am talking about

[2015-08-28 19:44] ghost commented on #52
I need to do some more testing to see that it works properly - if it does (all my own menu items the value gets set to either `true` or `false` - it needs to be confirmed working properly with the more complex values that it could get set to) then I will definitely get it merged :)

And let me apologise if my understanding isn't great at the moment - I volunteer with a special-needs-children chari

[2015-08-28 20:01] Nessus85100 commented on #52
I agree that another `<content />` just for the subemenus will be the best choice. IMO the best way of what info should be available is to base this on the skin's DATA.xml files. I mean, get what submenus are set by default in the skin from DATA.xml files and use the info from those files (label, icon action etc) to create widgets which they will be available in the widget selection dialog if the

[2015-08-28 20:10] ghost commented on #52
Still not sure how individual submenu widgets will be identified :)

`widget` - "submenu"?
`widgetName` - the name of the submenu?
`widgetType` - set via the overrides?/empty?
`widgetPath` - empty?
`widgetTarget` - empty?

Those seem to be the obvious values that would be returned for me. Now, if there was a single 'submenu' widget for every main menu item, then that's fine. But if there are separ

[2015-08-28 20:50] Nessus85100 commented on #52
I think these will do...
`widget` = "submenu" (for use to assign the proper list layout)
`widgetName` = the name of the submenu
`widgetPath` =  should this be the path of the selected subemenu (eg skinshortcuts-group-movies)

widgetType and widgetTarget IMO are not needed and can be empty.

I was hoping that the script could check that and hide that spesific non-existing subemenu from the manageme

[2015-08-28 21:03] ghost commented on #52
It can indeed hide them (actually, if it's auto-generating them, they won't even be created let alone need to be hidden - though the issue still exists that the management dialog will have no idea if there are actually any visible items within the submenu!).

I meant that once the user has selected a submenu widget, but then deletes the main menu item the widget refers to - e.g. (and I know it's a

[2015-08-28 21:40] Nessus85100 commented on #52
Ok then. I will wait for a test branch. Since you know now what needs to be done i think the best way to do this is to have something that we can test and then we can move forward and solve any issues thru the testing.

If you need anything else from me, just ping.

Thanks again for taking the time to do this.

Cheers
Nessus

[2015-08-30 18:50] ghost commented on #52
@Nessus85100 I've spent some time thinking this through and having a quick play with the code.

What's easily possible, and I can provide a test branch shortly if this is useful to you, is a single 'Submenu' widget which, when its value is used within a template as the `<content />` tag, will be replaced by an include of the relevant `skinshortcuts-group-[name]` for the submenu of the main menu it

[2015-08-30 21:02] Nessus85100 commented on #52
First of all thank yo very much for taking the time to look at this. Secondly, this is by no means a feature that i really need. I just thought will be a nice addition. So, it can takes it's place in the to-do-list for whenever you think is doable.

The single 'Submenu' widget option is more than enough for now and i'll be happy to test it.

Thanks
Nessus

[2015-08-30 21:29] ghost commented on #52
Test branch at https://github.com/Ignoble61/script.skinshortcuts/tree/submenu-widget

To use, add a new `<shortcut />` to the widget-groupings, with `$INCLUDE[::SUBMENU::]` as the text, something like:-

`<shortcut label="Whatever label you want (widgetName)" type="Whatever you want displayed in label2" widget="whatever widget value you want" widgetType="whatever widgetType value you want">$INCLUD

[2015-08-30 21:37] Nessus85100 commented on #52
Great!. Will test it an get back to you tomorrow.

Thanks
Nessus

EDIT: I have an (irrelevant to this) question: I am using this code to include some smart playlists to my widgets list... `<shortcut label="31263" type="32004" widget="::PLAYLIST::" icon="DefaultVideoPlaylists.png" widgetType="movies" condition="Library.HasContent(movies)">special://skin/extras/playlists/UnwatchedMovies.xsp</shortcu

[2015-08-30 22:10] ghost commented on #52
No immediate issues leap out at me, but it's not something I've thought about doing (and so thought through it all), so YMMV :)

[2015-08-30 22:17] Nessus85100 commented on #52
Sorry but, as you may already notice, my English are very poor so i am not sure what you just said !!!.
Let's say that i am a 10years old child... lol !!!

[2015-08-30 22:23] ghost commented on #52
My bad, I often forget I'm often not dealing with English-native speakers.

I can't think of any issues, but it isn't something I have thought through so whilst it will probably work be prepared that issues may come to light at a later time. (YMMV = Your mileage may vary)

(And your English is far better than my, well, any other language!)

[2015-08-30 22:35] Nessus85100 commented on #52
Ok thanks. I better make them with the proper way to avoid any issues. Just wanted to ask if is something that you're aware of.

Thanks
Nessus

[2015-08-31 18:47] Nessus85100 commented on #52
So, i've tested and it's working fine although i have some issues (and questions).

1, The subemenu widget is not visible when the main menu `labelID` is different than the `defaultID`.
Although all widget properties are present and the list's created in the `skinshortcuts-template-widget` include are there with the proper visible condition, the widget is not visible when you navigate in home main

[2015-08-31 19:59] ghost commented on #52
The more we get into this, the more obvious it becomes that to do it well will require fairly major code changes, so will have to wait until the script is agreed stable before I start messing it up again ;)

Damn! I was trying to do it without passing any extra information into templates.py, so based it off of the visibility condition - clearly that doesn't always match the `skinshortcuts-group-[n

[2015-08-31 21:08] Nessus85100 commented on #52
Ok then, no problem. As i said before, this is not something that necessarily needed. Just a nice addition.

Thanks
Nessus

[2015-09-01 18:45] Ignoble61 opened #56 "FR: Submenu widgets"
As discussed in #52, feature request to provide submenu's as selectable widgets. Either:

1. A single submenu widget, with name set to the main menu item whose widget is being set. Only visible if the main menu item has a submenu.
2. Multiple submenu widgets, one for each main menu item. Each only visible if the relevant main menu item has a submenu.

Required improvements to implement:-

* Librar

[2015-09-01 18:47] marcelveldt opened #57 "FR: customize property dialog"
A feature request to be considered, submitted by tomer953 on the Kodi forums:
http://forum.kodi.tv/showthread.php?tid=178294&pid=2087427#pid2087427

Some requests about the Custom property method.
 1. Custom Title for the choosing dialog
 2. Default value for the property, so Every new item will have the default value
 3. option to remove the "none" option

 for example, I have:

[code]
http://i.i

[2015-09-01 18:49] marcelveldt opened #58 "ready for deploy to stable ?"
The current beta version has been tested by a bunch of users. Some issues found and fixed.
Now things seem to be very stable and this new version offers a lot of improvements.

Everybody happy with a deploy to the Kodi repo ?

[2015-09-01 18:53] marcelveldt commented on #56
Why not use an include with the submenu-group as the widget target ? That's what I did in my skin and working fine for ages.

[2015-09-01 18:53] ghost commented on #58
It's probably worth considering whether any of the fixes requested in #57 can go in before a push to stable - I'm not particularly familiar with the code in question, but some of the requests there (I'll go into detail in the PR itself) seem pretty straightforward and unlikely to causes breakages. Good to get them fixed before Tomer has to wait for another round of updates/beta's (however long tha

[2015-09-01 18:55] ghost commented on #57
I'm not overly familiar with the code, but some of these sound both very sensible and (without looking into the code!) not too likely to cause breakages, if someone wanted to look at them before a stable push.
- Custom title - if only a single dialog is ever used, an override. Otherwise, done via a property set before sending a click?
- Default value - no comment, don't know the code well enough ;

[2015-09-01 18:57] ghost commented on #56
We're primarily talking about having a submenu widget appear within the widget selection dialog - with name automatically populated, and only visible if menu has submenu items. I have a proof of concept as you suggest on one of my branches (a template addition that automatically `<include />`'s the submenu, albeit with a bug that I haven't fixed yet where it often gets it wrong ;)

[2015-09-01 18:57] marcelveldt commented on #58
I already told Tomer that we're having a little feature freeze first to update the stable release before adding in any new features but if you're confident that that change won't break anything and you have time to look into it no problem to wait a few more days. It's just that the current beta has actually been tested by users. If we add something we should publish a new beta for a few days first

[2015-09-01 18:59] ghost commented on #58
Not something I'll look into soon as I'm not overly familiar with that code and I'm working primarily on other projects at the moment. (Actually not sure offhand, is it your code initially...?) I'm happy to wait until I or anyone else gets to it :)

[2015-09-01 18:59] marcelveldt commented on #56
Ah, okay so it's the same thing but managed by the script instead of worked-around by the skinner. Nice addition.

[2015-09-01 19:00] marcelveldt commented on #58
Yeah, I've worked on that code a few weeks back so I'm familiar with it. I'll pick it up once the current release has been deployed on the Kodi repo.

[2015-09-01 20:53] ghost commented on #58
Just remembered one more thing that it's worth considering before a stable push - do you, @marcelveldt, want to consider adding the skin.helper widgets as default into the scripts overrides.xml widget-grouping? (With visibility condition to ensure they only display if the script is installed, of course...)

[2015-09-02 08:15] Nessus85100 commented on #58
Yep, all working fine for me. I think we are good to go.

By the way, excellent work guys !!!

Cheers
Nessus

[2015-09-02 08:21] BigNoid commented on #58
Indeed, great work!
I don't use many features of the script, but all is working fine in Nox.

[2015-09-04 22:20] ghost commented on #58
Thanks for the feedback. After so many updates to the fundamentals of the script, it's good to know its working for both skins that are using most features of the script, and skins that are using the original features before this script became ridiculously complex :)

[2015-09-04 23:12] ghost commented on #58
One final issue worth considering before committing this to stable (and a fairly simple change with little chance of breakage) based on a bug reported on the Kodi forums in the last couple of days - the script has the ability to enable debug logging for both itself and Kodi when an issue building or saving the menu occurs. However, it only does this if the debug log uploader script is installed. I

[2015-09-04 23:44] marcelveldt commented on #58
Sounds good to me. Did you already check in that change ?

[2015-09-04 23:46] ghost commented on #58
TBH I'm not sure :) (I always drink on a Friday, and at this time of the evening I'm fairly confident I've made the changes, though I'd appreciate a second eye on the changes made, but I've honestly no idea whether the changes have been pushed or not - my local git client suggests they have been, but github.com doesn't seem to show them :)). Once I work out where the changes are, I'll ask you to t

[2015-09-04 23:55] ghost commented on #58
I honestly can't see what's happened to that commit, so it's probably safe at this point to proceed as-is, and I'll sort it out properly when I have the time and the mental capacity to do so (it's been as-is for a while, keeping it as such won't affect feedback very much)

Edit: Looks like I pushed this before the merge, and so it got merged as part of, #60. Glad I found out where it got to :)

[2015-09-05 02:01] ghost commented on #22
Update with 0.5.3 hopefully to hit official repo soon:

GUI 309 (original widget selection) now deprecated within code (and with logging to specify so). Will be interesting to see how quickly skins that use the script to manage the whole menu transition to the new methods ;)

Biggest issue with deprecating old code (and therefore being able to fully removing said code) ahead of a 1.0.0 release rem

[2015-09-05 04:33] Ignoble61 opened #62 "Potential issue: Confirmation needed that script labels are correctly parsed"
(based on http://forum.kodi.tv/showthread.php?tid=178294&pid=2098131#pid2098131)

Confirmation required that the script is correctly parsing script-provided labels - in this case `label="$ADDON[script.skin.helper.service 32062]"`- before script is pushed to repo as stable.

Reference #58

[2015-09-05 04:37] ghost commented on #58
Issue #62 to be confirmed as not a bug/fixed before any repo push. I'll do my best to confirm either way this weekend, if no-one beats me to it :)

Edit: Confirmed as issue with old version of skin.helper script installed, which didn't provide label, and nothing to stop repo push, though updated issue on forum with Just Select method (actually, looks like documentation error) may...

[2015-09-05 05:45] ghost commented on #62
Unable to reproduce with latest version of script.skin.helper.service - awaiting confirmation this is due to using an older version of said script where label 32062 isn't provided. Edit: Confirmed :)

[2015-09-05 05:47] #62 closed

[2015-09-05 06:44] ghost commented on #58
Bug found @jurialmunkey with Just Select showNone/custom properties not being respected now fixed. Hopefully that's all before a repo push :)

[2015-09-05 07:07] marcelveldt commented on #58
OK! All great then. I'll submit the new version to the Kodi team this afternoon

[2015-09-05 13:08] marcelveldt commented on #58
I've sent the request to update the script on the repo. Once updated I'll publish the first version of the skin helper service on the rpeo.

[2015-09-11 20:48] Ignoble61 opened #65 "FR: Make program plugins browsable as widgets"
As (indirectly) requested to tomer953 on the Kodi forums, add the ability for program add-ons which present as plugins (but don't present as video/audio/picture addons) browsable and selectable as widgets.

Required changes:-

* New `<content />` grouping - addon-program-plugins(?), and the relevant plugins loaded into it in the addons function in library.py
* Generate widget properties for progra

[2015-09-18 16:22] marcelveldt commented on #65
I think this one can be closed ?

[2015-09-18 16:30] ghost commented on #65
Hmmm ... it should have been auto-closed when #67 was merged. Oh, well :) Yes, it can be closed.

[2015-09-18 16:30] #65 closed

[2015-09-18 16:38] marcelveldt commented on #58
Just pinged the Kodi team for the script's update on the repo. They might have missed my request.
@BigNoid did you inform Martijn that I can submit the updates ?

[2015-09-23 08:28] marcelveldt commented on #58
The script's update is now available on the Kodi repo.
@BigNoid discovered issues with Aeon Nox (and variants) on Helix because he had only changed Nox for Isengard so on the helix repo the script isn't updated (but has version 3.5.4) and for Isengard he bumped the version to 3.6.0 in order to resolve issues people were having:

Quote from email:

I am going to revert the update for Helix repo as

[2015-09-23 08:49] BigNoid commented on #58
@marcelveldt  See https://github.com/BigNoid/script.skinshortcuts/pull/70 for version bump + changelog fixup.

[2015-09-25 18:42] svillar opened #72 "skinshortcuts making kodi not to load skins properly"
This is what I got from the kodi.log. The script cannot store the xml file so the skin is not properly loaded next time a kodi session is started

Traceback (most recent call last):
00:54:53 165.851669 T:2638214176   ERROR:   File "/home/osmc/.kodi/addons/script.skinshortcuts/resources/lib/xmlfunctions.py", line 196, in shouldwerun
00:54:53 165.873596 T:2638214176   ERROR:     hashes = ast.literal

[2015-09-25 18:51] ghost commented on #72
Please post a link to a full debug log (enabling skin shortcuts own debug logging from its settings), and explain exactly what you mean by "the skin is not properly loaded" - link to screenshots if necessary :)

[2015-09-25 20:44] svillar commented on #72
Ok I will.

BTW "the skin is not properly loaded" means that no matter which skin you choose (any using skinshortcuts, because the bug does not happen with confluence for example) kodi is always using the default one (in this case OSMC default skin). After some minutes, a notification is shown with the text "Skin Shortcuts. Creating menu...", then "Writing menu...", for some time. Once the notific

[2015-09-25 21:15] ghost commented on #72
Thanks for the clarification (and looking forward to the debug log :wink:). Can I just confirm, when logging in again, the system reverts to the default skin, then the skin shortcuts build notification shows, before the skin switches to the selected skin? If so, what is the behaviour when going into a part of the library, the Movie library for example, and then returning to the home page - does th

[2015-09-25 22:14] svillar commented on #72
So the answer to the first question is yes. I log in again, the default skin is shown, then the notification, and after some time, the skin I had previously selected. BTW I have noticed that my description was not totally accurate, in the sense that the notification and skin change do not happen automatically. I have to go to settings-skin etc to change the skin to the one I want and then it's whe

[2015-09-25 22:21] ghost commented on #72
Thanks for that.

~~Can you please confirm that that is the complete .hash file - the file you linked is an incomplete file suggesting either you didn't paste the whole file, or Kodi wasn't able to write the whole file. There is no reason, unless it is OS specific, that it would be written incomplete like that. And, based on the additional info you supplied, it is indeed incomplete ;)~~

Edit:- Ig

[2015-09-25 22:36] svillar commented on #72
@Ignoble61 first of all, many thanks for being so responsive. Regarding why I reported this to skinshortcuts is basically because I saw the error in the logs, and also because if I choose confluence (the former default skin) which does not use skinshortcuts, then the problem is gone.

[Reported BTW](https://discourse.osmc.tv/t/skin-regularly-reverts-to-osmc-standard-skin-after-reboots/8284) on OSM

[2015-09-25 22:38] ghost commented on #72
You're very welcome. Even though from what I can see it doesn't look like a skin shortcuts issue (the fact that Confluence isn't reverting to the default skin doesn't necessarily mean its a skin shortcuts issue if another non-skin shortcuts skin - maxaminimalism is - and the error you are appears appears, from what you've said, purely to be OSMC reverting to the default skin and that skin trying t

[2015-09-27 13:03] Ignoble61 opened #73 "Error with unicode characters in username"
As reported on the Kodi forum - http://forum.kodi.tv/showthread.php?tid=178294&pid=2117194#pid2117194 - there appears to be an error when building the menu when the username has a unicode character in it.

I'll fix this myself in the coming days if no-one beats me to it.

[2015-09-28 15:54] #58 closed

[2015-09-29 12:49] jingai opened #75 "Provide option to reset current shortcut only"
Having the ability to reset all of them back to defaults is definitely useful, but if a user has modified their shortcuts extensively and just needs to reset one (because they decided they wanted to revert it to default behavior, but forgot how to achieve that, for instance), there is currently no (easy) way for them to do that without dumping all of their other modifications as well.

[2015-09-30 00:42] jingai opened #76 "Hides Music mainmenu shortcut by default if library has no Music content"
The script adds the following visibility condition by default:

[code]

This makes it so the user cannot add any Music sources if they don't already have any.

[2015-09-30 07:45] ghost commented on #76
The script follows Confluence's example here. Confluence uses ActivateWindow(Music) for it's main menu item (which can activate either the library or files view), so the script doesn't apply any visibility conditions to that. In fact the only time it should add them for a Music entry is when the action is to ActivateWindow(MusicLibrary...) or a library node - something that does require music in t

[2015-09-30 08:34] jingai commented on #76
I can change it, but honestly, it shouldn't add visibility conditions on its own imho.   At least, not if it's not documented.

[2015-09-30 08:41] ghost commented on #76
It caused a lot of support issues when there were no visibility conditions (from end users not knowing why shortcuts that should have been hidden didn't work), so I think it's the right choice to add them. However, you're absolutely right it should be documented, and I'll ensure it is in future.

[2015-09-30 08:46] jingai commented on #76
You are tying yourself to Confluence though.  This is what I meant previously about having doubt about things with this script.  If it's going to auto-add stuff that I don't know about..

[2015-09-30 08:52] jingai commented on #76
Video and Music need to always be, by default, visible.  Otherwise people cannot add sources to the library.  Why do you think it shouldn't be that way?

[2015-09-30 08:58] ghost commented on #76
Because, as said above, when visibility conditions weren't added, users were getting confused that shortcuts - links to the music library (rather than the files view) when they didn't have any music, for example - didn't function as they expected.

Of course, this isn't up to me, so I'll open the floor to anyone else who has a POV on this :)

[2015-09-30 08:59] jingai commented on #76
Video and Music should never have scripted visibility imho.

edit:  at least on the mainmenu.

[2015-09-30 09:02] jingai commented on #76
IIRC, @MacGyverr was also having issues similar to this with the PVR stuff.

[2015-09-30 09:07] jingai commented on #76
I do understand how people can get confused, but it's even worse if they can't even add the source.

It's also just the nature of letting people edit everything.  I don't look forward to the support requests for my skin by adding this lol.

[2015-10-04 10:06] Nessus85100 opened #77 "Video playlists widgets "target" tag is empty"
The `<content target="" />` is empty when a video playlist (.xsp) is selected as widget. This causes dead click/select item when the playlist has not playable items (eg TV Shows).
For Music playlists is set fine.

EDIT:
Also i notice that for the video playlists the `<property name="widget">` is set little different:
`<property name="widget">::PLAYLIST::</property>`

Fro the music playlists is lik

[2015-10-04 14:20] ghost commented on #77
I can't reproduce this. Setting a widget to both a custom playlist and a skin-provided playlist sets the widget and widgetTarget properties as expected.

[2015-10-04 14:53] Nessus85100 commented on #77
Turns out that the widgetTarget property it's empty only for playlists defined in overrides.xml. I have a separate node in my overrides.xml file in where i have included the default playlists (`<content>playlist-video</content>`) plus some extra provided by the skin. This is how my playlist node looks with one of the extra playlists and the defaults ones :

[code]

For every playlist that is defin

[2015-10-04 15:04] ghost commented on #77
That's because you need to define widgetTarget in these cases - see wip docs here https://github.com/Ignoble61/script.skinshortcuts/blob/documentation/resources/docs/advanced/Custom%20groupings.md for details of the `<shortcut />` element.

(And it looks like the widget property is getting set to the widget element in your `<shortcut />` element - which is intended but I actually thought was broke

[2015-10-04 19:33] Nessus85100 commented on #77
Aha... didn't know that. So far all my other widgets are playable items or the onclick action is handled by the skin or by a script.

Yea it works fine. By the way can you think of any reason why i have set the widget property like that (::PLAYLIST::) and not like as simple string (Playlist) ?.... lol i know that is stupid to ask YOU about that but i am afraid that if i did that for reason and is

[2015-10-04 20:27] ghost commented on #77
It shouldn't cause any issues as far as I can tell. I'm not in a position to be able to double-check in the code, but I _think_ the widget attribute is literally only set as the widget property - nothing should change in how that shortcut is processed no matter what the widget attribute is set to.

[2015-10-04 20:58] Nessus85100 commented on #77
Ok, thanks a lot for the info.

Cheers
Nessus

[2015-10-04 20:58] #77 closed

[2015-10-05 13:00] marcelveldt commented on #76
Well, in that case don't use it. This script is used in almost every official repo skin and I have not ever seen a complaint about the visibility condition.

BTW: Skinners can provide their own mainmenu (including conditions) with their skin so you can have it just the way you (or your users) want it.

[2015-10-05 13:00] #76 closed

[2015-10-05 13:02] marcelveldt commented on #75
That would be a horrible idea... A user can for example move items around etc.
There will no longer be such a thing as a default becaus ethe user might also have changed the entire shortcut.

What is possible however is if you have setup all kinds of properties/backgrounds etc on a shortcut you can reset those. You can already do such a thing in your skin by using some vars/conditions on a button

[2015-10-05 13:02] #75 closed

[2015-10-05 13:04] #57 closed

[2015-10-05 15:02] ghost commented on #72
OSMC forums are suggesting this is a known bug in Kodi with multiple profiles, so I'm going to close this issue now. If, though, new information comes to light please feel free to re-open.

[2015-10-05 15:02] #72 closed

[2015-10-09 19:00] ghost commented on #73
Closed by #79

[2015-10-09 19:00] #73 closed

[2015-10-09 21:17] ghost commented on #75
Not what was originally requested (as I agree with @marcelveldt that this would be a horrible idea from a UX perspective - I haven't reset my working system for a year-and-a-half, and would have no idea what those shortcuts would now reset to!), but one of the requests included in #81 may cover the original intent of this request - GUI 308 now gives the option to restore one of the originally supp

[2015-10-09 22:02] ghost commented on #73
Due to my incompetence, actually fixed by #81

[2015-10-11 10:43] jinac81 opened #85 "Unable to build menu item on OpenELEC"
Hi guys,

I know that a similar issue was already reported about this same issue on OpenELEC. But because the other one was close i decided to re-open a new one.

The problem that I'm facing is that on OpenELEC i can not use a skin that is dependent on this module. I did some investigations and it seems that the code i trying to import a python module that is not available on OpenELEC. The faulty

[2015-10-11 10:46] ghost commented on #85
You manually installed Skin Shortcuts - if it's installed via "Install from zip" or along with a skin, the unidecode dependancy will be automatically installed from the Kodi repo. You can download the zip file here - http://mirrors.kodi.tv/addons/frodo/script.module.unidecode/ - and install it.

[2015-10-11 11:38] ghost commented on #85
Ignoble61,

Thanks for the quick reply. You are completely right, the problem was resolved by removing the skin and the skinsshortcuts from Kodi and re-installing it. My skin no works without any issues.

I think something went wrong with restoring my Pi.

Thanks.

Regards

P.S. I will close the issue.

[2015-10-11 11:38] #85 closed

[2015-10-16 20:06] Ignoble61 opened #87 "Ready for release to stable?"
There have been a few (comparatively minor) changes to the script which WIP skins are now reliant on - most notably to custom properties - and the forum thread has been remarkably quiet for a few days, so I wanted to open discussion on whether the script is ready for an update on repo.

AFAIK only one actual error has been reported (unicode issue, now fixed on git) with the current version, all ot

[2015-10-24 21:58] marcelveldt commented on #87
I think its ready for stable release. I am also going to push the skin helper service to repo because its embraced by a lot of skins already. Did you have a good test yet with the skinhelper? Spotted any errors?

[2015-10-24 22:05] ghost commented on #87
TBH I've been primarily working on a non-Kodi app as of late, so haven't done much with the helper service other than use it to provide widgets and see how many skinners are responding so incredibly positively to it :) (genuinely, I haven't seen so many skinners be so positive about a script, well, ever!). My current plan is, when I'm finished with my Argus TV/iOS app, to apply it to my Conq mod w

[2015-10-24 22:17] ghost commented on #87
As you agree we're ready for a stable release, are you happy to lead this again?

[2015-10-24 22:41] ghost commented on #87
Should add, the one thing I did think about, but am not sure we should consider for the upcoming repo release - though please correct me if I'm wrong ;). Someone (sorry, genuinely can't remember who) posted a method for installing scripts on demand by calling via a runscript in the `<onclick />` when they weren't installed - which causes Kodi to offer to install them. It's worth considering extend

[2015-10-24 23:11] marcelveldt commented on #87
haha, that someone was me ;-)

Nice idea about this btw. This will allow the users to select for theirselves which widget providers they want instead of having skins set them as requirement for their skin.

Let's think about this after a first release to the repo

[2015-10-24 23:14] marcelveldt commented on #87
Oh, and thanks for the feedback about the skinhelper service. Yeah it's adopted very fast by skinners, I think it fills a little gap where native Kodi lacks some functionality. If I could write some C++ code myself I would have added it to the Kodi code but python is more in my league so my way of contributing to the community ;-)
I have developed it with speed in mind so info gets cached and uses

[2015-10-24 23:15] marcelveldt commented on #87
I will request the push to Kodi repo tomorrow for both scripts

[2015-10-24 23:33] ghost commented on #87
I should have known it was you - there's few active scripters who would come up with something as creative as that ;)

Definitely needs thinking about after a repo release as, due to the nature of the script, it will require (probably quite significant) changes to the script to actually display updated items to the user after a script has been installed (I've no idea if the select dialog - pure Ko

[2015-10-25 00:04] marcelveldt commented on #87
Sounds good to me. Once we've updated the script (and first version of skinhelper) to the repo we can discuss this further. Would be kind of neat to present the user with a dialog if they want to install the addon.I think that it would be a relativel simple change in the skinhelper code. The only thing I don't know is if the selectdialog of skinshortcuts will be able to keep up. I will do a quick

[2015-10-25 00:21] ghost commented on #87
The primary issue will be if the Kodi's select dialog respects changes to visibility conditions once the items have been sent to it. I'll be very interested to know what your test show! If not, a workaround will likely be relatively difficult. As I say, the SelectShortcut() function will also cause issues - but changing it from using the index of the item selected to (say) the action of the item s

[2015-10-30 21:09] ghost commented on #87
I've created #98 which I'll keep up to date with any necessary version bump + readme/chanelog changes ready for when script is to be pushed to repo :)

[2015-10-31 01:54] marcelveldt commented on #87
OK, great. I have just submitted my request to add skinhelper to the Kodi repo. I will send the request for skinshortcuts tomorrow. Hopefully both scripts will then be updated/available at the same time on the repo.

[2015-10-31 02:03] ghost commented on #87
Nice :)

My coding time is currently being taken up by a private project (where a daft PR was accepted, and we're all running around like headless chickens fixing things) with which most of my current coding time is focused, so it will be good to know that this script has been recently updated and, quite frankly, I can ignore it for a little while :)

Thanks for taking charge of the actual repo pu

[2015-11-02 11:20] marcelveldt commented on #87
OK, skinhelper service just got added to the Kodi repo. I will now submit the 0.6.5 version to the Kodi repo. Note that this will be Isengard+ only

[2015-11-04 22:20] svillar commented on #72
BTW I've finally found the issue and it's indeed in the skin shortcuts plugin. Will send a pull request ASAP.

[2015-11-05 08:56] svillar commented on #72
Correction, the bug is already fixed upstream.

[2015-11-07 12:31] marcelveldt commented on #87
@BigNoid I have just resent the request to update skinshortcuts on the repo. There seems to be a bug in the current stable version which is causing issues with your recent Aeon Nox skin. This issue is fixed on Git but now the Git version needs to be updated ASAP to the Kodi repo. Is there anything you can do to speed it up ?

[2015-11-07 13:15] ghost commented on #87
Just a note, the bug isn't in the current stable version on the official repo (0.6.0). It was in the version requested to be updated to on the repo (though now fixed thanks to marcelveldts quick work) - 0.6.5. I'm guessing that its come to light because a 3rd party repo that the users reporting the issue have installed pushed the updated version to their repo.

[2015-11-07 13:53] BigNoid commented on #87
I am out of the country atm, I can't push the fixed version myself her and I think there's only 1 team member handling all the addon (and skin) updates. So atm I can't be of much help, sorry.

[2015-11-07 15:46] marcelveldt commented on #87
No problem, it turns out the bug isn't on official repo but on some 3th party repo version of the script. Ronie is going to push an update of the script this weekend so it will be okay.

[2015-11-07 15:51] marcelveldt commented on #87
I have just bumped the version to 0.6.6 to make sure people get this new version and I hope that all skin devs who host their own copy of the script on their repo will be so kind so update it asap.

[2015-11-07 18:39] ghost commented on #87
:+1: on the version bump :)

Does this need a new tag/release, so that the repo gets updated to 0.6.6...? (Not quite sure how it works with what version gets picked up)

[2015-11-07 18:45] marcelveldt commented on #87
I asked Ronie to just pull the latest version from Git... Just to be safe I can also create a new tag

[2015-11-07 18:49] ghost commented on #87
That's grand. I didn't know whether it was pulled from a specific tag, a specific commit or just 'latest version' ;)

(Just really don't want to be dealing with users on the same version number as official, but not official!)

[2015-11-07 20:43] Ignoble61 opened #101 "Revert Kodi logging enabled by ToggleDebug"
Putting this here so I don't forget about it :)

New version of Skin Shortcuts switched from using json to enable debug logging (on either a menu build or a menu save error) to using the new-with-Isengard ToggleDebug inbuilt function.

A few reports now, though, have said that with the latest builds Kodi's debug logging isn't being automatically disabled after the script has enabled it. Whilst I c

[2015-11-07 22:48] marcelveldt commented on #87
Ronie has just updated the 0.6.6 to the Kodi repo. Issue closed ;-)

[2015-11-07 22:48] #87 closed

[2015-11-07 23:17] ghost commented on #22
Update with 0.6.6 about to hit official repo:

Aside from one major bug which was, thankfully, found before the script hit the official repo, the script continues to be remarkably stable. As such, and with Jarvis fast approaching, I'd like to suggest that the next update to the script becomes the official 1.0.0 with the following changes:-
- Jarvis changes to available shortcuts - new event loggin

[2015-11-16 19:44] #101 closed

[2015-11-21 09:38] marcelveldt opened #109 "index out of range on edit submenu"
http://forum.kodi.tv/showthread.php?tid=234547&pid=2166157#pid2166157

To be fixed on some rainy day..

[2015-11-21 23:22] ghost commented on #109
This shouldn't be happening (unless its skin-specific - I haven't tested with Titan) - when all shortcuts are deleted, an 'empty' shortcut should always be created, and all shortcuts displayed should go through the _display_listitems() function, which will add the skinshortcuts-orderindex property... :confused:

[2015-11-27 19:25] ghost commented on #3
@jeroenpardon - First off, great to see that reFocus is being updated for Jarvis. I'll be having a play this weekend, and will feedback on the forums how well its working. As regards this issue, are the nodes still causing you issues (and so can this issue be closed)?

[2015-11-27 19:26] ghost commented on #56
I believe this can be handled now by Skin Helpers static widgets, so I'm going to close.

[2015-11-27 19:26] #56 closed

[2015-11-27 19:30] ghost commented on #22
@marcelveldt With Jarvis around the corner, a repo push is probably required sooner rather than later with the Jarvis changes. I'm happy that most of the original intent of wanting a 1.0.0 release (except perhaps removing legacy code - which has proved almost impossible without breaking skins!) has been achieved. If we were to bump the version to 1.0.0 after #110 is merged, would you feel confiden

[2015-11-27 20:35] marcelveldt commented on #22
Good idea about the repo push. I was always going to do so for skin helper.
Let's wait for that final merge to happen, test a few days on the beta repo and do the update to the stable repo.

Also 100% agree with the 1.0.0 version ;-)

[2015-11-27 20:40] ghost commented on #22
OK, I'll do a version bump PR to be merged when the repo push happens. Any thoughts on also including #105? (I know there hasn't been any feedback on the PR itself, but it's a oft-requested feature and, once its in, leaves the feature requests I'm aware of as a very short list...)

(Sounds daft, but I'm quite excited at - what is essentially an arbitrary - version bump to 1.0.0. I've worked on a f

[2015-11-27 20:47] marcelveldt commented on #22
Maybe indeed wait for that too.

[2015-11-29 09:37] #109 closed

[2015-11-29 12:09] jeroenpardon commented on #3
@Ignoble61 You can close this issue. My current implementation of skin.shortcuts is quite old and I am currently trying to catch up and rework my implementation. Because of this I am not able to fully determine if and where I'll have any issues at the moment. I need to get acquainted with the changes in groupings and so on first. Cheers.

[2015-11-29 12:38] ghost commented on #3
OK. If you need any assistance updating the implementation or have any questions, just holler.

[2015-11-29 12:38] #3 closed

[2015-12-01 16:45] Ignoble61 opened #116 "Change add-on shortcuts to use window aliases"
As suggested by phil65 in #114, to be done after stable release. Will also require changing visibility conditions to not hide such shortcuts.

[2015-12-15 20:40] marcelveldt commented on #22
Version 1.0.0 has been submitted to the repo :-)

[2015-12-15 21:01] ghost commented on #22
Cheers Marcel. And with that, and with great pleasure, I close this issue :)

[2015-12-15 21:01] #22 closed

[2016-01-17 22:03] marcelveldt opened #127 "request: option to hide shortcut"
http://forum.kodi.tv/showthread.php?tid=205482&pid=2216301#pid2216301

[2016-01-24 19:35] Ignoble61 opened #133 "Request - 2nd level submenus"
As requested by Guilouz on the forum, the ability for a submenu to have a submenu.

Would need labelID system expanding to ensure that submenu items labelID's are all unique to main menu labelID's (otherwise the files that 2nd level submenus are written to could be the same files as the 1st level submenus) and extension of build code to accept the control ID of the submenu, and to build the 2nd le

[2016-01-30 23:08] #116 closed

[2016-02-08 13:06] marcelveldt opened #142 "Low prio: Write empty includes"
http://forum.kodi.tv/showthread.php?tid=259210&pid=2239242#pid2239242

When using templates, the XML code is built when needed (the shortcut has condition X or Y).
This works fantastically well for writing widgets to the homemenu and even multiple widgets.

However if the condition is not true for a shortcut, the include is not written at all in the skin, causing some missing include errors in the

[2016-02-08 14:21] ghost commented on #142
I had the same thought myself whilst adding [empty templates to MadNox](https://github.com/Ignoble61/skin.aeon.madnox/blob/skinshortcuts-dev/shortcuts/template.xml#L3476-L3481)'s template.xml file to avoid the same warnings. One thing to think about whilst doing it:-

It can't be a completely empty template - due to the way the templates are written that will just change the warning to a different

[2016-02-10 21:36] marcelveldt commented on #142
yeah, good idea about that description element

[2016-02-10 21:45] marcelveldt opened #144 "new stable version 1.0.6"
@Ignoble61 now that version 1.0.6 is tested for a couple of days on the beta repo it's pretty safe to say that it's stable. I requested the pull to the Kodi repo a few minutes ago.

Once it's published it's safe to start adding features/move code around again ;-)

BTW: What to do with the optional contextmenu addon ?
Do you want to submit it yourself or do you want me to do that ?

[2016-02-10 21:54] ghost commented on #144
This might be the first time in a while I'm not away when it gets updated on the repo - hopefully that means it's guaranteed to be working perfectly so that there's no actual _need_ for me to be around ;)

If the release tagged can I not start to move code around now? (The fact that the build progress indicator pauses whilst building templates has been really bugging me this past week whilst I've

[2016-02-11 18:03] marcelveldt commented on #144
the update is live now.

[2016-02-11 18:48] ghost commented on #144
:+1:

[2016-02-12 08:04] marcelveldt commented on #142
OK, I discussed this with ronie at the mailing list. The missing includes confuse him while checking skins for errors and off course the warning in the log is not that great. I will take a look at this later today so it can be included in the quick follow up update to the repo.

[2016-02-16 14:45] ghost commented on #142
Any progress on this? Any assistance needed?

[2016-02-16 23:24] #144 closed

[2016-02-16 23:26] marcelveldt commented on #142
Not yet had the time to look at this. Will do so later this week.
Has the final decision been made for the breaking include change or not yet ?

[2016-02-16 23:53] ghost commented on #142
I haven't heard anything regarding the include changes. My suspicion is that Phil will get his way, though ;)

[2016-02-22 21:57] #142 closed

[2016-02-23 19:17] marcelveldt opened #154 "BUG: shortcuts to music hidden"
@Ignoble, I'm getting more and more reports of users complaining about the missing shortcuts to the Music library if no library content is added. I know this was once by design but I think it's time for a change and just make it show all the time because this is starting to get really confusing since the changes in Jarvis.

I even ran into it myself a couple of days ago where I couldn't understand

[2016-02-23 19:35] ghost commented on #154
Sounds good to me. I've been getting similar reports (though primarily about music add-ons, perhaps unsurprisingly for people who don't have music in their library). I think that with supporting multiple versions of Kodi in one version of the script, and with the way that music shortcuts have changed, the code has just got too complex with music visibility. Much easier to strip it :+1:

[2016-02-23 19:37] marcelveldt commented on #154
OK, great, should I go ahead and do that or are you working on some major code changes ?

[2016-02-23 19:39] ghost commented on #154
Major code changes? Always ;) But not related to this, and nothing that can't wait to go in.

Actually, I say that but I suspect Tomer would like the new set-properties-from-outside-of-the-Management-Dialog to go in, but it's not quite ready yet (needs url-decoding and a second eye going over it). I can rush the necessary code changes there if you can give it an eye?

[2016-02-23 19:41] marcelveldt commented on #154
Rushing is never good, it always makes me run into problems ;-)
Offcourse I want to take a look but such a change would require some beta testing for a few days at least before we go stable with it.

Best thing would be to do the repo push based on a tag so the changes can be merged.
Tomer uses his own repo so 'shouldn't be that much of a problem to him

[2016-02-23 19:45] ghost commented on #154
To be honest, I can see some unicode issues ahead with it, and they always take me some time to fix so you're right, let's not worry about it right now. I'll keep with what I said to him on the forum, which is I'll finish it up tomorrow and get it merged for repo push +1

[2016-02-23 20:56] jingai commented on #76
Being fixed with #154

[2016-02-24 09:38] ghost commented on #154
Anything else needed from your side before repo push, or can I go ahead and create a tag so I can merge Tomer's new code when its ready?

[2016-02-24 13:54] marcelveldt commented on #154
Nope, all is fine. OK to create the tag so I can do the repo push later today

[2016-03-10 18:27] #154 closed

[2016-03-10 19:20] ghost commented on #52
As there's been no activity for several months, and Nessus has unfortunately stepped back from publicly released skins, I'm going to presume it's safe to close this.

[2016-03-12 16:37] Ignoble61 opened #167 "Bug: Icons with unicode characters may be reset to DefaultShortcut.png"
When checking for icon overrides, one of the checks is to ask Kodi if the skin has the image in question. When there is unicode in the name, this check may return False even if the image does exist.

As the problem is not readily reproducible in a consistent manner, and my time is limited at present, I'll fix this when I can get into the problem properly.

[2016-03-15 23:35] phil65 commented on #167
One small advice: try to make sure as early as possible that all your inner workings are using unicode.
That for example means that everything you get from the kodi API needs .decode("utf-8"), otherwise it is a str.

[code]

might also help, it automatically prefixes all "text" with u then (--> u"text") so that they are unicode.

Was struggling a long time with this myself but finally got everythi

[2016-03-18 03:02] ghost commented on #167
Undoubtedly good advice, and advice I've taken into account with my recent update to the library node editor. In terms of this script, doing so requires a lot of code-checking and testing to ensure that no bugs are introduced (as, at present, we're using try_decode to handle the text being or not being unicode). In general terms, if scripts need to - by par of the course - convert anything coming

[2016-04-06 10:34] Nessus85100 commented on #52
I would like to keep this open if it's not a problem. I am still developing Bello and the use of subemenus as a widget will be nice feature to have.

Cheers
Nessus

[2016-04-06 16:08] ghost commented on #52
Re-opened, as requested.

[2016-04-08 22:43] ghost commented on #52
Reviewing this for the first time in a very long time.

The current state (of the current git version, where some changes have been made to a couple of properties that the script returns) appears to be that the current submenu, or any additional submenu can be accessed using something along the lines of:

`<property name="submenuVisibility" tag="property" attribute="name|submenuVisibility" />`

`<

[2016-04-10 21:17] Nessus85100 commented on #52
Sorry for the delayed answer. I am busy as hell lately. I will test this asap although i am not sure how to do it. Can you elaborate a little more please ?.  I mean, how can use this as visible condition so only the subemenus that they have at least one entry (meaning not all the subemenus entries are deleted by the user) to show up in choose widget management dialog ?

I fully understand that and

[2016-04-11 07:42] ghost commented on #52
That was code for a template to display a given submenu. It remains impossible to list individual submenu's when choosing a widget within the management dialog - and, because the individual submenu's aren't loaded (which is a very expensive operation in terms of cpu), and therefore not processed to see whether each individual item is visible (which would only be valid for the very moment when they

[2016-05-02 19:49] ghost commented on #127
A very common request, and one I read very regularly on the Nox 5 mods, where the unmodded skin offers this function. I've always been very reluctant to add this, though, as either it only works for one skin (the setting isn't shared between skins), or all skins need to implement the 'hide' button. Having said that...

I'm unhappy with how complicated the management dialog has become in my own ski

[2016-05-02 19:51] marcelveldt commented on #127
great idea about the context menu! That will indeed clean the editor up

[2016-05-02 20:52] ghost commented on #127
I've been thinking through the various behaviours of a context menu for the last week or so and am still struggling on a couple of points - most notably when and when not to automatically add controls that aren't in the management dialog to a context menu (the new 'hide' button you'd need automatically added; select widget you wouldn't want to be added automatically, for example.) I normally would

[2016-05-03 13:20] Nessus85100 commented on #52
Thanks for the answer and clarification @Ignoble61 . if is like that I guess will have to stay with my current solution of showing all the submenus even if they are empty.
I think we can close this now.

[2016-05-03 13:20] #52 closed

[2016-05-17 14:57] #127 closed

[2016-08-28 15:52] mikesilvo164 opened #189 "Warn on altering shortcut function"
@Ignoble61 I am playing around with the warning function and noticed a couple of things.

The first is that disable does not trigger the warning dialog and I think it should do so since that will prevent access to the shortcut also.

The last thing is completely trivial but felt worthy of a mention and that is if you cancel the requested change (pressing No in DialogConfirm) it triggers a menu reb

[2016-08-29 08:42] ghost commented on #189
Agree, disabling should trigger the warning dialog.

I presume you mean that when deleting an item and cancelling on the warning, a menu rebuild is triggered? There's a single line that needs to removed to fix that (1110), but if it's happening elsewhere let me know.

I'll try and push fixes for both issues this week, and thanks for the bug report :)

[2016-08-30 16:02] MikeSiLVO commented on #189
@Ignoble61 Yes seems to be only when selecting delete.

I noticed another little thing...
I am using String.IsEqual(Window.Property(groupname),mainmenu) as visible for Icons layout of main menu and it goes empty on context menu popup and filebrowser open when choosing an Icon. Is there a better visible I can use to prevent that but still limit it to the main menu only?

[2016-08-30 18:39] ghost commented on #189
I don't believe so, but you could try specifying the window:-

`String.IsEqual(Window(script-skinshortcuts.xml).Property(groupname),mainmenu)`

[2016-08-30 18:55] MikeSiLVO commented on #189
Just tried and it doesn't seem to work if I specify the window. No biggie... can't make everything perfect no matter how much I want it to be :wink:

Thank you for the suggestion :smiley:

Edit: It does work as condition for context menu button though just not 100% as visible in the management dialog.

[2016-09-05 07:17] Ignoble61 opened #190 "Global and Visible overrides are both applied separately"
As [reported on the forums](http://forum.kodi.tv/showthread.php?tid=178294&pid=2407601#pid2407601), this can result in a menu item which is unusable when both overrides are active.

Suggested resolutions are:-
* Both overrides are combined in the condition
* The visible override results in a separate menu item being created, to which the global override is then applied

[2016-09-26 20:13] #189 closed

[2016-09-27 15:55] mac1202 opened #193 "PVR channels widget doesn't work anymore"
Hi I use latest krypton from git and mimic skin. If I correctly understand the widget part is managed by your addon. The problem I had is with recent git version of krypton the PVR channel widget stop working it just display nothing. The strange thing is the PVR channel with artwork widget is working perfectly.

[2016-09-27 16:09] ghost commented on #193
The script doesn't provide any widgets, it just enables you to choose from several. If I remember correctly, most of the PVR widgets are provided by the Skin Helper Service script.

[2016-09-27 16:45] mac1202 commented on #193
Ok will report there.
Thanks for your answer.

[2016-09-27 16:45] #193 closed

[2016-10-08 18:48] #190 closed

[2016-11-05 12:29] HenryHatten opened #200 "Won't install on Krpyton"
For Krypton I had to manually install script.module.unidecode first to get this (and the skin) to install:

[http://mirrors.kodi.tv/addons/krypton/script.module.unidecode/](http://mirrors.kodi.tv/addons/krypton/script.module.unidecode/)

[2016-11-05 13:03] ghost commented on #200
Are you able to install addons from the official repository generally? There are a few issues with recent Krypton builds whereby Kodi can't install addons which would lead to this issue. Otherwise a debug log would be needed.

[2016-11-06 13:23] HenryHatten commented on #200
Yes. From the debug log (not available anymore, overwritten) I got the message mentioning script.module.unidecode when I was trying to manually install script.skinshortcuts (which I was doing because Aeon Nox would not install). Installing script.module.unidecode manually allowed me then to install script.skinshortcuts without problems (and allowed me to install Aeon Nox successfully afterwards).

[2016-11-06 16:52] ghost commented on #200
I am unable to reproduce any issue installing Nox 5 on a clean Kodi nightly. Without a debug log I'm unable to do anything further, and this was most likely a Kodi or repo mirror problem as the unidecode module is available.

As such, I'm going to close this issue now, but if you are able to reproduce the problem and provide a debug log please feel free to re-open.

[2016-11-06 16:52] #200 closed

[2016-11-22 15:17] londonshore opened #204 "new update"
your new update messed up my kod
i submenu using nebula skin

please fix or get me away to delete it .. i have to have my updates set to notify because i can not delete the repository this is a biggggggggggg issue

please send out another version with the v12 is not good for jarvis 16.1

[2016-11-22 15:22] ghost commented on #204
Manually install the git version (where it is already fixed), [or this zip](https://github.com/Ignoble61/repo.ignoble.data/raw/master/data/script.skinshortcuts/script.skinshortcuts-1.0.13.zip) (which can be installed via 'Install from zip file' within Kodi, unlike a regularly downloaded zip from GitHub). This version will be pushed to the repo when I have enough confirmation that it fixes the issu

[2016-11-22 15:22] #204 closed

[2016-12-17 18:50] Ignoble61 opened #210 "Branch script for Kodi 18"
Having given some thought to Phil's comment on recent PR for compatibility for Kodi 18, I'd like to branch the script for v18 of Kodi but would appreciate others thoughts before I do this (which won't be until after Christmas at the earliest ;)) and have begun extended my RetroPlayer branch at https://github.com/Ignoble61/script.skinshortcuts/tree/games in preparation

The advantage of doing this

[2016-12-17 21:15] BigNoid commented on #210
@Ignoble61 I am not aware I am using deprecated code :)
I will have a look to see what needs updating.
I dont use much of the rest of the script as i still havent found a nice way to migrate to skin shortcuts without users losing their customization, so can't really comment on the rest of the proposed changes.

[2016-12-17 21:27] ghost commented on #210
You're not using deprecated features - which is to say, features which have been replaced and specifically deprecated - in this case, it's more a case of you're the only skinner using the specified gui controls. As it is, three separate controls (and their associated code) are being maintained for a single skin which isn't great - though, in fairness, the code for those controls hasn't changed in

[2016-12-18 06:14] smitchell6879 commented on #210
I know I really don't have any known experience to comment on much but I am plus one for a v18... I am starting a new skin and would like to implement skin shortcuts and considering I am just start it will probably be a v18 out by the time I finish and so far I can only make this script work with Krypton.... May just be my noobieness to skinning..... But the script does save a lot of writing.

[2016-12-19 01:45] braz96 commented on #210
@Ignoble61
Just my two cents, but I say go for it, especially if it will make the script easier to maintain into the future. I'm sure skinners will be quick to adapt to any changes that are required as a result of the refactor.

[2016-12-30 09:32] marcelveldt commented on #210
I will help out with the refactor and if you agree I'd like to make sure it meeds the pep8 guidelines making it more readable and maintainable. Once that's all done we can have codacy automatically do some basic tests

[2016-12-30 09:43] ghost commented on #210
I don't think I can resist pep8 any longer :) I'm not doing anything more code-wise this year, so in the new year we'll look at where's best to continue forward with the refactor - whether you want push rights to my fork, or if we move it over here at this point. (I'll also do a list of what I've already done, and the already needed skinning changes)

[2016-12-30 10:03] BigNoid commented on #210
Just as a tip, install [Anaconda](http://damnwidget.github.io/anaconda/) package in sublime text. That's a great tool for python coding in general and also helps for keeping the code within the pep-8 guidelines.

[2016-12-30 10:05] marcelveldt commented on #210
Thanks for the tip! Currently I'm still using plain-old Notepad++ but with my current move to MacOS I definitely have to go for the Sublime route

[2016-12-30 10:10] BigNoid commented on #210
I'm sure you'll never look back to Notepad++ :)

[2017-01-03 14:38] fastcolors opened #211 "Request: 211 Click"
HI,

first of all Thanks for this great addon!

I was wondering if it would be possible to control the clicks for list 211,

my use case is the following:

I have 211 in a panel, so for items not on row 1,  it's impossible to reach group 300 (which is on top in my case)

since clicking on items on 211 doesn't have any effect, I was wondering if it couldn't move focus to group 300.

I've tried toma

[2017-01-03 16:35] ghost commented on #211
First of all, this is a wonderful auto-correct :grin:

I'm surprised that adding an `<onclick />` to the control doesn't work, but can see you're right. It's easy enough to add a new override for this - can you [please test this branch](https://github.com/Ignoble61/script.skinshortcuts/tree/actions), with the following added to your overrides.xml (obviously adjusted to suit your personal use case)

[2017-01-03 20:17] fastcolors commented on #211
hahahahahahah 😂😂😂😂😂😂😂
tometo..tomato...

perfect! works like a charm... this way I could do what I want with the click.. right?
me like this.

thanks and... TOMATOS!

cheers.

[2017-01-03 20:21] fastcolors commented on #211
just one question...

`<onclick id="211">ActivateWindow(contextmenu)</onclick>`

opens the contextmenu.. but an empty one..

am I (probable) doing some nonsense call?

[2017-01-03 20:40] ghost commented on #211
Thanks for testing. I'll clean it up and merge it tomorrow.

Yes, there's no way tomato that work in that way - Skin Shortcuts intercepts the ContextMenu action and takes care of displaying the context menu itself. It's possible you could do something like

`<onclick id="211">Action(ContextMenu)</onclick>`

but I've shut down computers for the evening so can't test. (Note Skin Shortcuts context me

[2017-01-03 20:50] fastcolors commented on #211
perfect I'll give it a spin!!

but I can definitely live without the need tomato it work !

the click control is already what I needed!! then I got greedy and wanted the tomato AND the soup!

BTW: I'm loving this conversation!
😂

[2017-01-03 20:55] fastcolors commented on #211
Almighty Tomato it works!!!
it works!!!

awesome job!!

[2017-01-04 10:25] #211 closed

[2017-01-04 10:25] ghost commented on #211
Now in master :)

[2017-01-05 01:10] ghost commented on #210
@marcelveldt you're already authorised to push changes to my fork, so I think it makes sense to keep development there for the moment. There are basically two breaking changes to the script so far - the directory for skin integration has changed from special://skin/shortcuts to special://skin/extras/script.skinshortcuts; and there's a new dependancy - [simpleeval](https://github.com/Ignoble61/scri

[2017-01-13 23:10] ghost commented on #210
@BigNoid script version for v18 of Kodi is now ready for initial testing. As your skin is the one most affected by script changes, if you let me know which branch Leia changes are being made against I'll PR relevant script changes against such (bearing in mind skin-breaking changes to the script should be done, even if all changes are nowhere near - though there is now the possibility of an early

[2017-01-27 14:48] BigNoid commented on #210
Sorry @Ignoble61 I missed your ping :(
Please feel free to break Aeon Nox with your script. I'll catch up if you do. It will be my own fault for stubbornly keeping on to the skin coded main menu :)
If you want to do a PR, my master branch is Leia, but please don't feel obliged to do the changes for me.

[2017-02-09 10:23] marcelveldt commented on #210
@Ignoble61 sorry, have been busy lately. Where are you with this now ?
Shall I go ahead and start moving the skinhelper widget code to the skinshortcuts branch ?

[2017-02-16 17:42] ghost commented on #210
@BigNoid - I think I've already broken Nox5 in the development branch. If not (and I'm not currently up-to-date on exactly where things are), I'll certainly feel free to do so :)

@marcelveldt - I'm just starting to re-focus on Kodi after some health issues, so things are kind of stuck at the moment from my end until I can get the time to get back to things. As such, feel free to look at any area

[2017-02-16 22:58] Ignoble61 opened #217 "Leia"
To-do list for Leia era version of script, to be kept updated as issues and to-do's are identified.

[ ] Error message shown when attempting to make labelID changes to existing menu items [[log 1](http://pastebin.com/yDc4wyiy)] [[log 2](http://pastebin.com/5t0VyyG7)], possibly linked to new universal 'attempt' method

[2017-02-16 23:10] ghost commented on #210
To attempt to separate discussion of changes for Leia as opposed to identified issues and to-do's for Leia: #217

[2017-02-17 22:35] MikeSiLVO commented on #217
Some more errors...

Full Log Below.

If you need a test monkey just let me know 😃

[2017-02-18 17:54] ghost commented on #217
Full debug logs only please :)

Any testing is hugely appreciated, though be prepared that development is slow right now ;)

[2017-02-18 18:32] MikeSiLVO commented on #217
@Ignoble61 Sorry should have just posted it but was being lazy...

**[LOG](http://pastebin.com/SkgGMh4x)**

I pressed GUI buttons 310 and 405 thrice in the log posted above.

I understand that Leia is still pre-alpha and am not trying to rush any fixes just provide some info for when someone has the time and inclination to look into it :smiley:

[2017-02-18 19:24] ghost commented on #217
And it's appreciated. I just want to make sure expectations are set as, right now, I simply don't have the ability to spend the time needed to get this all finished :) To-do updated with the relevant issues.

[2017-02-20 08:56] marcelveldt commented on #210
@Ignoble61 Sorry to hear about that, I hope you feel better soon!

For the TODO list:

1. Make code PEP8 compatible
2. Move widget code
3. New script version which will be Kodi 18+ only
4. Maybe integrate the image pickers (with resource addon support) from skin helper tools

What branch should I use to start going ?

[2017-02-24 19:19] ghost commented on #210
@marcelveldt - the Leia branch here is the most up-to-date published version, so best to work against :)

[2017-03-07 03:31] jurialmunkey opened #220 "submenuOther template error with labelid matching"
On krypton, when using templates and building widgets for submenus there is an error with the conditions generated for matching submenu items. submenuOther will generate a condition based upon the LabelID. However, when the LabelID is a localized string it doesn't match because the condition matches to the number not the localized string.

e.g. a condition will be generated for the submenu widget:

[2017-03-12 15:34] ghost commented on #220
Can you please provide a working example of a template/defaults where this doesn't work?

[2017-03-13 03:34] jurialmunkey commented on #220
Yes, in my new skin
https://github.com/jurialmunkey/skin.fuse.neue

Templates:
https://github.com/jurialmunkey/skin.fuse.neue/blob/master/shortcuts/template.xml

For instance, if I create a submenu widget for a default submenu item I get the following generated in the template section of script-skinshortcuts-includes.xml
http://pastebin.com/raw/vBwQMCfM
The StringCompare doesn't match when it is a

[2017-03-14 18:03] ghost commented on #220
Apologies, but I still can't reproduce this with your new skin + it's defaults.

[code]

Do I need to follow any particular steps to reproduce this issue? (Add anything specific to a menu, for example?)

[2017-03-15 04:16] jurialmunkey commented on #220
It only happens for user created submenu widgets. You need to create a widget for a submenu item and that submenu item has to be a default submenu item (e.g. sets or recently added episodes). The widgets for main menu items work fine.

What happens is the visibility condition for that submenu widget template that is generated uses a stringcompare to the labelid of that submenu item (these are not

[2017-03-15 09:42] ghost commented on #220
Thanks for the clarification, I've now managed to reproduce. I'll fix it as soon as I can - Thursday with luck, early next week without.

[2017-03-20 21:36] marcelveldt commented on #210
@Ignoble61 okay, will start working on it as of next week. this week still busy with providing support after large updates of SH and skin.

[2017-03-20 21:37] marcelveldt commented on #210
@Ignoble61 if you don't mind, I will push out another update to the kodi repo as the current version is a bit outdated and missing some features I currently rely on in my skin.

[2017-03-25 01:47] ghost commented on #210
No problem, and I apologise my time is so limited at present to make any updates myself. I am going to try to fix Braz and JurialMunkey's issues in the next couple of days - if I get them fixed before the update, I'm sure they would appreciate if you could pull the fixes into the update assuming it hasn't already been approved :)

[2017-04-01 20:35] #220 closed

[2017-04-10 03:20] braz96 opened #227 "Feature request: Groupoverride for submenu"
I need to be able to clear a window property when click on a submenu item. I tried using the groupoverride to add a supplemental action as described in the docs. I couldn't get this to work though, even when omitting the group name. It would be great if I could specify submenu as the group for the override.

Thanks for considering and let me know if you need any more information!

[2017-08-19 04:13] 20mxm opened #231 "Feature Request"
Hi BigNoid,
would it be possible to add a up/down option to change the position of the widgets for skin developers

[img]http://i.imgur.com/ZiE1x8i.png[/img]

Thanks

[2017-11-24 15:48] walterheisenberg opened #235 "RPi3: added widgets but I can't select them -> EstuaryMod v2"
I don't know, if this is a bug in skinshortcuts or in EstuaryMod v2:
If I add widgets, I can't select them. The author of the skin, guilouz said that it is no skin issue, because it is only happening on RPi.

more info and forum post:
https://forum.kodi.tv/showthread.php?tid=178294&pid=2657452#pid2657452
Thx for making this clear

[2017-12-10 17:18] stevenleadbeater commented on #235
I've got the same issue. According to the addons repo, it is using version 0.6.5 of the skinshortcuts script. https://github.com/Guilouz/repository.guilouz/blob/master/skin.estuary.modv2/addon.xml for me this is specifically with version 18 of kodi, so it's an alpha to be clear (estuary mod v2 is kodi 18 only). I'm going to try upgrading the skinshortcuts version to current and seeing if that help

[2017-12-10 20:53] stevenleadbeater commented on #235
So after a bit of mucking around, you can upgrade to version 18 from marceveldts beta repository and break your main menu if you want. You have to go back to an old version then and upgrade to the one in the main kodi repo... was a pest to fix, dont do it!

[2017-12-11 16:14] walterheisenberg commented on #235
updated first post: issue found, no fix yet

[2018-03-03 14:15] burekas7 opened #237 "Why Titan for Krypton still using an old PVR setting reference?"
@marcelveldt

Why in few files this old PVR request setting still exist?
**System.GetBool(pvrmanager.enabled)**

While the current and the only request since kodi 17 (Krypton) is this:
**System.HasPVRAddon**

The reason is because I found this error line in the log repeats many many times (Debug mode) especially when I am in the home screen:
**DEBUG: CSettingsManager: requested setting (pvrmanager

[2018-04-02 19:33] z1haze opened #238 "What's the latest release for Krypton?"
What tag should I be using to develop in Krypton? I am brand new to skinning, but I want to start with extending Estuary and play around with this plugin.

[2018-04-12 14:48] marcelveldt commented on #237
these are just leftovers because you migrated your skinshortcuts settings from previous Kodi versions. Only proper way to get rid of it is to clear the shortcuts and start over.

[2018-04-12 14:48] #237 closed

[2018-04-12 14:49] marcelveldt commented on #238
current master is for Krypton

[2018-04-12 17:35] burekas7 commented on #237
I found another way by using the backup/restore system.
More details here:
https://forum.kodi.tv/showthread.php?tid=328621&pid=2714782#pid2714782

Thanks.

[2018-06-21 12:10] KrX3D commented on #235
i have the same problem, any fix yet?

[2018-07-22 17:10] Happyarms commented on #235
A fix would be nice, but i would also take any workarounds.

[2018-09-27 08:49] Ch1llb0 commented on #210
As the v18 release is not so far off, will the v18 branch be made ready for that realease? Until now it's just alpha and depends on an un-realeased secondary script, I believe. Skins depending on this amazing script are in great need of this ;)

[2018-10-21 01:31] drinfernoo opened #242 "Errors in log when loading widgets"
I believe this is happening when widgets load content from third-party add-ons, so it may be unsupported... But I'm getting LOTS of these errors in my log on Kodi 18 Leia.

http://imgur.com/PZcfKPj

[2019-02-07 13:44] PhunkMaZ commented on #231
A bit late but +1 from me. Would be great if this could be added to the widget manager.

[2019-02-13 19:41] TehTux commented on #235
I don't think that is the problem. I found these properties on macOS too. There it works...

Workaround:
Disable the option "Share menu between compatible skins" in "Skin Shortcuts" settings

[2019-03-21 20:11] TheJakeMoore commented on #231
Please add this functionality! Having to re-create every widget just because I want to move them around is very tedious!

[2019-05-02 11:37] piejanssens commented on #235
Same problem with Vero4K (OSMC), no issue on macOS.
So it's not something specific to RPi...
@BigNoid @mvalec @marcelveldt
Some attention to this long standing critical issue would be great.
Tell us what you need, logs, generated script-skinshortcuts-includes.xml, ...?

In my case I cannot select/navigate the second row of widgets of my custom menu items.

[2019-12-01 19:37] tapwizard opened #244 "Keep getting skin shortcuts error with Arctic Zephyr 2 skin"
Kodi 18.5 Windows 10. I'm trying to use Arctic Zephyr 2 skin and every time I added my wizard (openwizard) it would state errors in log. Log would state: AttributeError: 'NoneType' object has no attribute 'getProperty'. I thought this was wizard related however I tried a fresh install of kodi with only your script.shortcuts and jurialmunkey skin.arctic.zephyr.2, and just deleting some of the skins

[2022-02-24 21:20] vajonam opened #247 "path substiutions"
I read on the thread. https://forum.kodi.tv/showthread.php?tid=178294&pid=2546915#pid2546915 that path substituions aren't supported, is this still the case? just curious. Thanks